**Задание 1**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [1]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [2]:
import pandas as pd

In [3]:
keywords = pd.read_csv('keywords.csv')
keywords.head(5)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [4]:
def get_geo(row, geo_data):
    '''
    Вернуть данные по геолокации при их наличии в тексте. В противном случае - неопределенное положение
    '''
    for geo, items in geo_data.items():
        for item in items:
            if item in row['keyword']:
                return geo
    
    return 'undefined'

In [5]:
%%time
# Как сделать побыстрее ?

keywords['region'] = keywords.apply(get_geo, geo_data=geo_data, axis=1)
keywords.head(5)

CPU times: user 30.7 s, sys: 32.5 ms, total: 30.7 s
Wall time: 30.9 s

In [6]:
keywords.groupby('region').count()

                keyword  shows
region
undefined         99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387

**Задание 2**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [7]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205
5       1     1263     2.0  1260759151
6       1     1287     2.0  1260759187
7       1     1293     2.0  1260759148
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [8]:
def get_rating(row):
    '''
    Классифицировать рейтинг в зависимости от уровня рейтинга
    '''
    if row['rating'] <= 2:
        return 'Низкий рейтинг'
    elif row['rating'] <= 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [9]:
ratings['rating_level'] = ratings.apply(get_rating, axis=1)
ratings.head(10)

   userId  movieId  rating   timestamp     rating_level
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг
5       1     1263     2.0  1260759151   Низкий рейтинг
6       1     1287     2.0  1260759187   Низкий рейтинг
7       1     1293     2.0  1260759148   Низкий рейтинг
8       1     1339     3.5  1260759125  Средний рейтинг
9       1     1343     2.0  1260759131   Низкий рейтинг

**Задание 3**

Посчитайте среднее значение Lifetime киноманов (пользователи, которые поставили 100 и более рейтингов). 
Под Lifetime понимается разница между максимальным и минимальным значением timestamp для каждого пользователя. 
Ответ дайте в днях.

In [10]:
# получаем список userId для киноманов (>= 100 рейтингов)
userid_more_100 = ratings.groupby('userId').count()[['rating']][ratings.groupby('userId').count()[['rating']]['rating'] >= 100]
userid_more_100_list = userid_more_100.reset_index()['userId'].tolist()

In [11]:
# формируем из этого списка отдельный data frame
updated_ratings = ratings[ ratings['userId'].isin(userid_more_100_list) ]
updated_ratings.head()

     userId  movieId  rating  timestamp     rating_level
147       4       10     4.0  949810645  Средний рейтинг
148       4       34     5.0  949919556  Высокий рейтинг
149       4      112     5.0  949810582  Высокий рейтинг
150       4      141     5.0  949919681  Высокий рейтинг
151       4      153     4.0  949811346  Средний рейтинг

In [12]:
# считаем минимальный и максимальный timestamp
if ('min_timestamp' not in updated_ratings.columns and 'max_timestamp' not in updated_ratings.columns):    
    grouped_ratings = updated_ratings.groupby('userId').agg(['min', 'max'])['timestamp']
    grouped_ratings.columns = ['min_timestamp', 'max_timestamp']
    updated_ratings = updated_ratings.merge(grouped_ratings, on='userId', how='left')

# формируем значение lifetime 
updated_ratings['lifetime'] = updated_ratings['max_timestamp'] - updated_ratings['min_timestamp']

# высчитываем среднее значение для всех пользователей
average_lifetime = updated_ratings['lifetime'].mean() / 60 / 60 / 24
print('Среднее значение Lifetime для киноманов в днях : {}'.format(average_lifetime))

Среднее значение Lifetime для киноманов в днях : 1053.3271445414307

**Задание 4**

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка years
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [13]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [14]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
if 'title' not in ratings.columns:
    ratings = ratings.merge(movies, on='movieId', how='left')
ratings.head(5)

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [16]:
years = [x for x in range(1950, 2011)]
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [17]:
def production_year(row):
    '''
    Получить значение production_year
    '''
    for year in years:
        if str(year) in row['title']:
            return year
    return 1900

In [18]:
%%time
# too long
ratings['year'] = ratings.apply(production_year, axis=1)

CPU times: user 2min 59s, sys: 151 ms, total: 2min 59s
Wall time: 3min

In [19]:
ratings.groupby('year').mean().sort_values('rating', ascending=False).head(100)

          userId       movieId    rating     timestamp
year
1957  360.933544   2750.965190  4.014241  1.083707e+09
1972  359.694878   3983.538976  4.011136  1.122759e+09
1952  346.394737   4107.796053  4.000000  1.090512e+09
1954  358.228324   2867.661850  3.994220  1.070591e+09
1951  347.106996   2605.588477  3.983539  1.052714e+09
1974  357.181481   3956.801852  3.978704  1.112526e+09
1962  350.671196   3479.100543  3.952446  1.094200e+09
1950  355.720339   3503.427966  3.915254  1.090648e+09
1977  351.040059   3604.516320  3.905786  1.116007e+09
1964  347.275058   3557.843823  3.841492  1.110870e+09
1959  350.396739   2530.706522  3.841033  1.079001e+09
1958  349.166667   2574.500000  3.823171  1.040949e+09
1975  345.959441   2914.158042  3.823077  1.096366e+09
1969  362.361702   4767.897163  3.817376  1.076782e+09
1967  359.223502   4331.990783  3.814516  1.085553e+09
1960  363.559211   3740.934211  3.809211  1.088196e+09
1976  339.721868   4203.925690  3.806794  1.111848e+09
1973  349.464762   4400.295238  3.806667  1.096675e+09
1979  339.112994   3042.961582  3.777966  1.098732e+09
1981  339.737113   2405.406186  3.758763  1.086338e+09
1953  357.252294   4032.321101  3.754587  1.070596e+09
1955  361.934483   4925.548276  3.751724  1.073857e+09
1971  351.026521   3228.455538  3.748830  1.091072e+09
1968  348.353066   2947.460888  3.737844  1.099207e+09
1966  353.300885  10001.274336  3.736726  1.144436e+09
1980  343.092609   3035.566340  3.708816  1.096575e+09
1963  369.769886   3760.778409  3.705966  1.090657e+09
1970  339.413559   6068.918644  3.700000  1.063881e+09
1965  377.092369   5132.618474  3.678715  1.088060e+09
1961  374.402027   3721.304054  3.663851  1.078733e+09
...          ...           ...       ...           ...
1982  333.629839   2678.058065  3.638306  1.080794e+09
1991  348.021944   2877.892372  3.628265  1.076376e+09
1956  364.341176   5645.423529  3.617647  1.091005e+09
1987  343.513366   3316.247266  3.606015  1.101239e+09
1900  360.825704  65545.252419  3.602960  1.291619e+09
1985  342.904695   2912.832516  3.588998  1.094996e+09
1988  342.643576   3289.088810  3.552990  1.100233e+09
1978  344.393688   3401.847176  3.549003  1.084415e+09
2007  337.005600  55323.489732  3.548538  1.336112e+09
1994  346.957175    547.596144  3.537963  1.016908e+09
2010  346.257674  79941.330372  3.537157  1.379806e+09
1993  345.641196   1094.608923  3.536664  1.026357e+09
1989  340.692903   2704.710646  3.534349  1.087669e+09
1986  350.889768   2617.610514  3.528265  1.081408e+09
2009  352.141194  70994.033479  3.520378  1.361393e+09
2006  343.595185  47749.393617  3.511478  1.310100e+09
2008  343.918394  62288.894430  3.498057  1.350837e+09
2004  334.882945  12924.550886  3.491490  1.257706e+09
1998  350.834536   2577.263996  3.472754  1.102581e+09
1995  346.400301    268.796684  3.472118  1.010036e+09
1999  345.835916   3070.233413  3.471692  1.104262e+09
1992  351.096045   2726.570621  3.466754  1.072053e+09
2001  339.046485   5111.621441  3.460052  1.198892e+09
2002  337.848818   6133.843639  3.456297  1.206002e+09
1990  343.771496   2763.092162  3.449169  1.071898e+09
2005  348.509719  37156.244600  3.448434  1.273459e+09
2003  340.186204   8154.379187  3.444777  1.238031e+09
1996  347.970249    909.740849  3.426600  1.020020e+09
1997  357.747044   1970.257389  3.415764  1.085420e+09
2000  342.165228   4376.611591  3.356104  1.146331e+09

[62 rows x 4 columns]

Судя по среднему рейтингу фильмов, утверждение о том, что с каждым годом фильмы становятся хуже, верно