**Задание 1**
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [1]:
import numpy as np

In [2]:
def get_array_reverse(n):
    return np.arange( n - 1, -1, -1 )

In [3]:
x = get_array_reverse(10)
x

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

**Задание 2**
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [4]:
def get_diag_matrix_reverse(n):
    return np.diag(np.arange(n - 1, -1, -1), k=0)

In [5]:
x = get_diag_matrix_reverse(10)
x

array([[9, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 8, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 7, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 6, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 4, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 3, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

**Задание 3**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [6]:
import pandas as pd

In [7]:
# Stable benchmark dataset. 1 million ratings from 6000 users on 4000 movies. Released 2/2003.
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', names=['UserID', 'MovieID', 'Rating', 'Timestamp']);
ratings.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [8]:
# Определите какому фильму было выставлено больше всего оценок 5.0.
ratings['MovieID'][ratings['Rating'] == 5].value_counts().head(1)

2858    1963
Name: MovieID, dtype: int64

**Задание 4**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [9]:
power = pd.read_csv('power.csv')
power.head(5)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [10]:
sum_quantity = power[ ((power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] =='Estonia'))
     & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21))
     & ((power['year'] >= 2005) &  (power['year'] <= 2010))
     & (power['quantity'] >= 0)]['quantity'].sum()

print('Суммарное потребление стран Прибалтики для категорий 4,12,21 за период с 2005 по 2010 : {}'.format(sum_quantity))

Суммарное потребление стран Прибалтики для категорий 4,12,21 за период с 2005 по 2010 : 240580.0

**Задание 5**
Решите систему уравнений:

4x + 2y + z = 4

x + 3y = 12

5y + 4z = -3

In [11]:
from numpy import linalg

In [12]:
a = np.array( [ [4, 2, 1], [1, 3, 0], [0, 5, 4] ] )
b = np.array( [4, 12, -3] )
res = linalg.solve(a, b)
print('Решение системы уравнения : {}'.format(res))
print('Является ли полученное решение правильным : {}'.format(np.allclose( np.dot(a, res), b )))

Решение системы уравнения : [ 0.46666667  3.84444444 -5.55555556]
Является ли полученное решение правильным : True